---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address>
		 &mdash; <p>{{ site.inc.written_by_text.[[page.lang]] }} <strong><a rel="author" href="https://github.com/{{ page.author.github }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong><br>
                </p>
            </address>

        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
